.botao {
  display: inline-block;
  padding: 16px 32px;
  background: var(--cor-gradiente1);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}

.botao:hover {
  background: var(--cor-gradiente2);
}
