body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}
ul {
  padding: 0px;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

h1,
ul,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}
